# Caddy configuration for Gophish phishing landing pages
# This proxies all traffic to the Gophish phishing server

:80, :443 {
	# We evaluate the Host header to route traffic
	@phish host phish.skippycrm.nl gophish.skippycrm.nl
	handle @phish {
		reverse_proxy gophish.railway.internal:80 {
			header_up X-Forwarded-For {http.request.remote.host}
			header_up X-Forwarded-Proto {http.request.proto}
			header_up X-Real-IP {http.request.remote.host}
		}
	}

	@admin host cozy-rebirth-production-de31.up.railway.app
	handle @admin {
		reverse_proxy gophish.railway.internal:3333
	}
}
